.intro__subtitle {
    color:azure;
    text-align:center;
    font-family: Metal Mania;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform:uppercase;
}